#users {
    margin: auto;
}

p {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

table, tr, td {
    width: 50%;
    border: 1px solid rgb(226, 233, 198);
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

td {
    width: 25%
}

thead {
    background-color: rgb(210, 215, 240);
}

